@import url('sectors/roads.css');
@import url('sectors/mainSectors.css');

.spawnMap {
    background: linear-gradient(135deg, #0a0a0a 0%, #151515 100%);
    width: 6000px;
    height: 6000px;
    position: absolute;
    cursor: grab;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    cursor: default;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: #000;
}

.spawnMap:active {
    cursor: grabbing;
}

