@import url('buttons.css');
@import url('interactiveMap/map.css');

@font-face {
    font-family: 'Gotham Pro';
    src: url('../../fonts/gothampro/GothamPro-Medium.eot');
    src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
        url('../../fonts/gothampro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/gothampro/GothamPro-Medium.woff') format('woff'),
        url('../../fonts/gothampro/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../../fonts/gothampro/GothamPro-Regular.eot');
    src: local('Gotham Pro Regular'), local('GothamPro-Regular'),
        url('../../fonts/gothampro/GothamPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/gothampro/GothamPro-Regular.woff2') format('woff2'),
        url('../../fonts/gothampro/GothamPro-Regular.woff') format('woff'),
        url('../../fonts/gothampro/GothamPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
  box-sizing: border-box;
}
html, body {
    font-family: 'Gotham Pro';
    background-image: linear-gradient(to bottom right, #111111, #333333);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.head {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 10px;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to bottom right, #222222, #111111);
    border-bottom: #333333 3px solid;
    z-index: 2000;
    backdrop-filter: blur(10px);
}

.astmix-logo {
    height: 50px;
    overflow: hidden;
    border-radius: 7px;
    margin-right: 40px;
}

.footer-info {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0c0c0c;
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    backdrop-filter: blur(10px);
}

.copyright {
    color: #888;
    font-size: 8px;
}