.spawnMap {
    background: #111111;
    width: 100%;
    height: 100%;
}

.territory {
    transition: 0.3s ease;
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-image: linear-gradient(to bottom right, #6fbe73, #497e4c);
    border: #3e6a40  2px solid;
    border-radius: 8px;
}
.territory:hover {
    transform: scale(1.1);
}

.road-container {
    transition: 0.3s ease;
}

.road {
    transition: 0.3s ease;
    z-index: 2;
    position: absolute;
    position: absolute;
    background-image: linear-gradient(to bottom right, #1e1f22, #1e1f22);
    border-radius: 3px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.roadBackground {
    transition: 0.3s ease;
    z-index: 1;
    position: absolute;
    background: #26282e;
    border-radius: 3px;
}

.road-container:hover {
    transform: scale(1.1);
    z-index: 10;
}

.road-container:hover .roadBackground {
    background: var(--hover-color) !important;
}

.road-container:hover .road {
    filter: brightness(0.9);
}